*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: sans-serif;
      background-color: white;
    text-align: center;
}

.topbar{
    background-color: snow;
    text-align: center;

}

.topbar ul li{
    display: inline-flex;
    list-style: none;
    width: 150px;
    margin: 15px;
    padding: 10px;
}




/* Scroll Animation */


.about .wrapper{
    opacity: 0;
    transition: all 0.5s;
}

.about .wrapper .active{
    opacity: 1;
}

.about .wrapper .text {
    transform: translateX(-20px);

}
.about .wrapper .text:nth-child(2n) {
    transform: translateX(20px);

}

.about .wrapper.active .text {
    transform: translateX(0px);

}

.about .wrapper .photo {
    transform: translateX(20px);

}
.about .wrapper .photo:nth-child(2n) {
    transform: translateX(-20px);

}

.about .wrapper.active .photo {
    transform: translateX(0px);

}
