*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

.body{
    font-family: sans-serif;
      background-color: white;
    text-align: center;
}

.topbar{
    background-color: snow;
    text-align: center;

}

.topbar ul li{
    display: inline-flex;
    list-style: none;
    width: 115px;
    margin: 15px;
    padding: 10px;
}

.topbar ul li a{
    text-decoration: none;
    
}

.aktif, .topbar ul li:hover{
    background-color:antiquewhite;
    border: 20px;
    border-radius: 10px;

}

.sub-menu-1{
    display: none;
}

.topbar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 27px;
    margin-left: -25px;
    font-size: 15px;
}

.topbar ul li:hover .sub-menu-1 ul li{
    display: block;
    
}

.topbar ul li:hover .sub-menu-1 ul li{
    width: 110px;
    padding: 20px;
    border-bottom: 1px solid black;
    background: transparent;
    text-align: center;

}


.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
position: absolute;
display: block;
margin-top: -52px;
margin-left: 90px;
background-color: rgba(255, 255, 255, 0.5);
}


